<div class="pageContent" layoutH="10">
	<div style="width:45%;float:left">
		<div class="panel" defH="150" style="width:100%;float:left">
			<h1>常用操作</h1>
			<style>
table.commom_panel tr td a{padding:0px 0px 0px 10px;height:20px;}
table.commom_panel tr td{color:#32598A;padding:5px 0px 5px 5px; width:50%; text-align:left; vertical-align:text-bottom;}
table.commom_panel{width:100%;}
.Link_blue1 a:link , .Link_blue1 a:visited{color:#32598a; text-decoration:underline !important; cursor:pointer;}
.Link_blue1 a:hover{color:#ff6600; text-decoration:none !important; cursor:pointer;}
			</style>
			
                <div class="content">
                    	<table class="commom_opt commom_panel Link_blue1">
                        		<tr>
                        			<td colspan=2>
                        					 <img src="/static/images/show1.jpg" height="123">
                        			</td>
                        		</tr>
                        </table>
                </div>
		</div>
	
		<div class="panel collapse" defH="180" style="width:100%;float:left">
			<h1>温馨提示</h1>

                    <div class="content">
                        	<table class="commom_search commom_panel Link_blue1">
                        		<tr>
                        			<td colspan=2>
                        					 <a href="#">【注意】请勿在服务器上的浏览器里面进行日常查询管理工作</a>
                        			</td>
                        		</tr>
                        		<tr>
                        			<td colspan=2>
                        					 <a href="#">【注意】管理控制台session默认过期时间为30分钟</a>
                        			</td>
                        		</tr>
                        		<tr>
                        			<td colspan=2>
                        					 <a href="#">【服务监视】提供系统各个进程的实时监控和重启功能</a>
                        			</td>
                        		</tr>
                        		<tr>
                        			<td colspan=2>
                        					 <a href="#">【文件管理】可在线对文件(夹)进行各种操作，默认管理的根目录为adms</a>
                        			</td>
                        		</tr>
                        		<tr>
                        			<td colspan=2>
                        					 <a href="#">【Redis数据】提供在线查看redis所有数据的功能并包含简单的实时监控</a>
                        			</td>
                        		</tr>
                        		<tr>
                        			<td colspan=2>
                        					 <a href="#">【其他】展示了利用此系统的框架模块实现了几个Demo</a>
                        			</td>
                        		</tr>
                        		<tr>
                        			<td colspan=2>
                        					 <a href="#">【注意】浏览器: IE7+ Firfox14+ Chrome</a>
                        			</td>
                        		</tr>
                                
                            </table>
                    </div>


		</div>
	</div>
	<div style="width:49%;float:left;margin-left:5px;">
		<div class="panel collapse" minH="100" defH="150" style="width:100%;float:left">
			<h1>人力构成分析</h1>

                <div class="content">
                    	<table class="commom_opt commom_panel Link_blue1">
                            <tr>
                                <td>
                                         <a  href="/?Employee/_new_/?_lock=1" width="700" height="500" rel="add_employee">新增人员 </a>
                                    
                                </td>
                                <td>
                                         <a  href="/?IssueCard/_new_/" rel="add_issuecard">人员发卡</a>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a  href="/?Department/_new_/"> 新增部门 </a>
                                    
                                </td>
                                
                                <td>
                                         <a    href="/?Area/_new_/?_lock=1">新增区域 </a>
                                    
                                </td>
                            </tr>
                    
                            <tr>
                                <td>
                                         <a    href="/?Employee/_op_/OpRegisterFinger/"> 指纹登记 </a>
                                    
                                </td>
                                
                                <td>
                                         <a  href="javascript:void(0)" relgo="/?LeaveLog/_new_/">新增人员离职 </a>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                         <a  href="/?CheckExact/_op_/OpAddManyCheckExact/?_lock=1">新增补签卡 </a>
                                    
                                </td>
                                <td>
                                         <a  href="/?CheckExact/_op_/OpAddManyCheckExact/?_lock=1">新增加班单 </a>
                                    
                                </td>
							</tr>
							<tr>
                                <td>
                                        <a   href="/?EmpSpecDay/_op_/OpAddManyUserID/?_lock=1">请假 </a>
                                    
                                </td>
                                <td>
                                         <a  href="/?AttCalculate/">考勤计算 </a>
                                    
                                </td>
                                
                            </tr>
                            
                            
                            <tr>
                                <td>
                                    <a  href="/?ReportFormPage/">查看报表</a>
                                    
                                </td>
                                <td>
                                    <a  href="/?DevRTMonitorPage/">设备监控</a>
                                    
                                </td>
                            </tr>
                            
                            <tr>
                            </tr>
                        </table>
                </div>

		</div>
		
		<div class="panel collapse" minH="100" defH="200" style="width:100%;float:left">
			<h1>本日出勤率</h1>
			
                <div class="content">
                    	<table class="commom_opt commom_panel Link_blue1">
                        		<tr>
                        			<td colspan=2>
                        					 <img src="/static/images/show2.jpg" height="170">
                        			</td>
                        		</tr>
                        </table>
                </div>
			
		</div>
	</div>
</div>
